
body{
	width: 640px;
	height: 480px;
	position: relative;
	margin: 10px;
	box-sizing: border-box;
}
.green{
	background-color: green;
	top:0;
	right: 0;
	left:0;
	bottom: 0;
	position: absolute;
	border: 5px solid red;

}
.yellow{
	background-color: #fff799;
	width:80px;
	height: 80px;
	position: absolute;
	top: 30px;
	left: 30px;
}
.pink{
	background-color: #ab347d;
	width:100px;
	height: 100px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.white{
	background-color: white;
	width:150px;
	height: 150px;
	position: absolute;
	border: 5px solid red;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.grey{
	background-color: #959595;
	width:150px;
	height: 150px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.brown{
	background-color: #a0410d;
	width:45px;
	height: 45px;
	position: absolute;
	bottom: 60px;
	left: 60px;
	z-index: 1;
}
.purple{
	background-color: #8781bd;
	width:40px;
	height: 40px;
	position: absolute;
	bottom: 30px;
	left: 30px;
}